body {
    margin: 0px;
    font-family: 'Dosis';font-size: 22px;
    background-color: black;
    text-align: center;
    color: white;
    
}
.logo{
    position: absolute; left: auto; top: 0;
    color: white;
}
