body {
    margin: 0px;
    font-family: 'Dosis';font-size: 22px;
    background-image: url("wallpaper.jpg");
    text-align: center;
    color: white;
    
}
.logo{
    position: absolute; left: auto; top: 0;
    color: white;
}
a {
    color: white;
    text-decoration-color: blue;
}